@{
    ViewData["Title"] = "Login to Ticklr";
}

@* data passed from controller *@
@model List<CapstoneTeam11.Models.User>

<!DOCTYPE html>
<html lang="=en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticklr Login</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    @* no logic created for form submission yet *@
    <form method="post">
        <label for="Email">Email Address:</label>
        <input list="emails" type="text" name="Email" required/><br /><br>
        <datalist id="emails"></datalist>
        @foreach (var email in ViewBag.PreviousEmails as List<string>)
        {
            <option value="@email" />
        }
        </datalist>

        <label for="Password">Password:</label>
        <input type="password" name="Password" /><br /><br>
        
        <input type="submit" value="Login" />
    </form>

    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
</body>
</html>
