@model CapstoneTeam11.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<p>New to Ticklr? 
    <a asp-controller="Account" asp-action="Register">Register for an account.</a>
</p>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<form method="post" asp-controller="Account" asp-action="Login" class="form-container">
    <div class="form-item">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" required 
               list="previousEmails" autocomplete="username" />
        <datalist id="previousEmails">
            @if (ViewBag.PreviousEmails != null)
    {
        foreach (var email in ViewBag.PreviousEmails as List<string>)
        {
            <option value="@email"></option>
        }
    }
        </datalist>
    </div>
    <div class="form-item">
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password" required autocomplete="current-password" />
    </div>
    <div class="form-item">
        <label for="rememberMe">
            <input type="checkbox" name="rememberMe" id="rememberMe" />
            Remember me
        </label>
    </div>
    <input type="submit" value="Login" />
</form>
