@model CapstoneTeam11.Models.Ticket

@{
    ViewData["Title"] = "Create New Ticket";
}

<h2>Create a New Ticket</h2>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="CreateTicket" method="post" class="form-container">

    <div class="form-item">
        <label for="Title">Title:</label><br />
        <input type="text" name="Title" /><br />
    </div>
    <div class="form-item"> 
        <label for="Description">Description:</label><br />
        <textarea name="Description"></textarea><br />
    </div>

    <div class="form-item">
        <label for="Priority">Priority:</label><br />
            <select id="Priority" name="Priority">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select><br />
    </div>
    
    <input type="submit" value="Create Ticket" id="create-ticket-btn" />

    <button type="submit" class="btn btn-primary mt-3">Create Ticket</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}