@model CapstoneTeam11.Models.Ticket

@{
    ViewData["Title"] = "Create New Ticket";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Ticket" asp-action="Create" method="post" class="form-container">
    
    <div class="form-item"> 
        <label asp-for="Description">Description:</label><br />
        <textarea asp-for="Description"></textarea><br />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-item">
        <label asp-for="Category">Category</label>
        <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-item">
        <label asp-for="Priority">Priority:</label><br />
            <select asp-for="Priority" asp-items="Html.GetEnumSelectList<Priority>()">
                <option value="">-- Select Priority --</option>
            </select><br />
    </div>
    
    <input type="submit" value="Create Ticket" id="create-ticket-btn" />

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}