@model List<CapstoneTeam11.Models.Ticket>

<h2>View Past Tickets</h2>

@if (!Model.Any())
{
    <p>No tickets available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Created Date</th>
                <th>Completed?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Description</td>
                    <td>@ticket.CreatedDate.ToLocalTime().ToString("g")</td>
                    <td>@ticket.IsCompleted</td>
                </tr>
            }
        </tbody>
    </table>
}
