@{
    Layout = "_Layout";  // Use the layout file to keep the header, navigation, and footer
    ViewData["Title"] = "Help - IT Ticket System";
}


<h1>Help: IT Ticketing System</h1>
<p>How to use Ticklr IT Ticketing System:</p>

<h2>Submitting a Ticket</h2>
<p>To report an issue:</p>
<p>1. Log in to the ticket system.</p>
<p>2. Select "New Ticket" or "Create Ticket".</p>
<p>3. Fill out all required fields like Title, Description, and Priority.</p>
<p>4. Click "Create a ticket".</p>

<h2>Viewing Your Tickets</h2>
<p>To see the status of your tickets:</p>
<p>1. Click on "Viewing Past History"</p>
<p>2. Select a ticket to view updates and replies.</p>

<h2>Updating Past Tickets</h2>
<p>To provide more info or respond to IT:</p>
<p>1. Open the ticket you want to update.</p>
<p>2. Click "Edit"</p>
<p>3. update contents.</p>
<p>4. Click Save.</p>

<h2>Closing a Ticket</h2>
<p>Once your issue is resolved:</p>
<p>1. Open the ticket.</p>
<p>2. Click "Close Ticket" or "Mark as Resolved".</p>

<h2>Need Help?</h2>
<p>Email us at <a href="mailto:kesyrm@gmail.com">kesyrm@gmail.com</a> or call (123)-456-7891.</p>
