@model List<CapstoneTeam11.Models.Ticket>
@{
    ViewData["Title"] = "Dashboard";
    string accessLevel = ViewBag.AccessLevel as string ?? "User";
}

<div class="dashboard">
<h1>Welcome to Ticklr Ticket Management Dashboard</h1>

<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="Tickets" asp-action="Create" class="card-link">
                <div class="card custom-card">
                    <img src="~/images/create-ticket.png" class="card-img-top custom-card-img" alt="Create Ticket">
                    <div class="card-body">
                        <p class="card-title fs-5">CREATE A TICKET</p>
                    </div>
                </div>
            </a>
        </div>

        @if (accessLevel == "Admin" || accessLevel == "Employee")
        {
            <div class="col-md-4">
                <a asp-controller="Tickets" asp-action="Manage" class="card-link">
                    <div class="card custom-card">
                        <img src="~/images/manage-ticket.png" class="card-img-top custom-card-img" alt="Manage Tickets">
                        <div class="card-body">
                            <p class="card-title fs-5">MANAGE TICKETS</p>
                        </div>
                    </div>
                </a>
            </div>
        }

        <div class="col-md-4">
            <a asp-controller="Tickets" asp-action="ViewPast" class="card-link">
                <div class="card custom-card">
                    <img src="~/images/view-tickets.png" class="card-img-top custom-card-img" alt="View Tickets">
                    <div class="card-body">
                        <p class="card-title fs-5">VIEW PAST TICKETS</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>