@{
    ViewData["Title"] = "Privacy Policy";
}

@* data passed from controller *@
@model List<CapstoneTeam11.Models.User>
    
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* test display data from home controller *@
    <br>
    <p>Displaying data from database</data></p>
    @foreach (var user in Model) 
    {
        <p><b>Name:</b> @user.Name - <b>Email:</b> @user.Email</p>
    }