/* body {
    background-color: #E6D6E5;
    font-family: Arial, sans-serif;
    text-align: center;
} */

/* import font - atkinson hyperlegible */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #E6D6E5;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* global styling for focus indicators */
:focus {
    /* border-color: 1px solid black; */
    outline: 2px solid black;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

/* focus indicator styling for hamburger menu */
.navbar-toggler:focus {
    border-color: #000;
    outline: 2px solid white;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #570052;
    padding: 15px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
    }

.dashboard {
    margin-top: 50px;
}

.custom-card {
    width: 100%;
    max-width: 300px;
    height: 350px;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card-img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.navbar-logo {
    height: 50px;
    width: auto;
}

/* font styling classes */
  
  .atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  /* Creat.cshtml */

  .submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #827A81;
    color: white;
    border: none;
    cursor: pointer;
}
